{% extends 'base.html' %}
{% block content %}
 <header class="banner">
     <h1 class ="header-text"> 
         Welcome to the Drifting World..</h1>
        <h1>Next Drift Event Is 06/15/2020</h1>
 </header>


    <h1>Past Drift Events</h1>
    <img src="https://images.unsplash.com/photo-1527748248990-5cd16a20d091?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" width="600em" height="400em" alt="">
    <img src="https://images.unsplash.com/photo-1534188278934-76700c2da08b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" width="600em" height="400em" alt="">
    <img src="https://images.unsplash.com/photo-1505988142825-434ec087cfe5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" width="600em" height="400em" alt="">
    <img src="https://images.unsplash.com/photo-1536909526839-8f10e29ba80c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" width="600em" height="400em" alt="">


{% endblock content %}